<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
	<!--<![endif]-->

	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Note App</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="./beautify.css" />
	</head>

	<body id="editTodo">
		<!--[if lt IE 7]>
			<p class="browsehappy">
				You are using an <strong>outdated</strong> browser. Please
				<a href="#">upgrade your browser</a> to improve your experience.
			</p>
		<![endif]-->
		<!-- <div class="menu" id="menu">
        <i class="fa fa-bars"></i>
    </div> -->
		<nav class="nav" id="main">
			<div class="container">
				<div class="nav-content">
					<div class="logo-box">
						<a href="#" class="logo" id="home">Note Api</a>
					</div>
					<ul class="nav-link">
						<li>
							<a style="color: #fff;"> </a>
						</li>
						<li>
							<a style="color: #fff;"> </a>
						</li>
						<li>
							<a style="color: #fff;"> </a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- <button href="#" class="clear" id="clear">Clear</button> -->
		<div class="form-container">
			<div class="container">
				<form class="form-tag" id="form">
					<div class="form-group">
						<textarea
							name="note"
							cols="70"
							rows="7"
							id="note"
							placeholder="Your Note"
						></textarea>
					</div>
					<div class="select-btn">
						<div class="form-group select-option">
							<select name="topic" id="topic">
								<option value="select" disabled selected>Select topic</option>
								<option value="personal">Personal</option>
								<option value="study">Study</option>
								<option value="work">work</option>
							</select>
						</div>
						<button type="submit" class="btn add-btn" id="add-button" disabled>
							Add
						</button>
					</div>
				</form>
			</div>
		</div>

		<div class="output-container">
			<div class="container">
				<div class="output-flex">
					<p>Write notes</p>
					<div id="output"></div>
				</div>
			</div>
		</div>

		<div class="message">
			<div class="container">
				<h2>About the app</h2>
				<p>
					This app was built using vanilla nodejs. No frameworks like express or
					hapi was used. You can only add note when you have typed more than 20
					characters long and selected topic.
				</p>
			</div>
		</div>

		<footer class="footer">
			<div class="container">
				<p>
					Copyright <span id="get-year">2020</span> | Coded by
					<a href="twitter.com/developer_tolu" style="color: #fff;"
						>Folorunso Tolulope</a
					>
				</p>
			</div>
		</footer>

		<div class="alert">
			<div class="container">
				<div class="alert-box" id="alert-box">
					<p></p>
				</div>
			</div>
		</div>
		<div hidden class="spinner" id="spinner"></div>
		<!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam
		etnecessitatibus quod. Possimus saepe beatae nihil tempora officiis,
		deleniti sapiente atque cum modi consequatur, ea libero hic dolorum Lorem
		ipsum dolor sit amet consectetur adipisicing elit. Ipsam etnecessitatibus
		quod. Possimus saepe beatae nihil tempora officiis, deleniti sapiente atque
		cum modi consequatur, ea libero hic dolorum accusamus nostrum. accusamus
		nostrum. -->

		<script>
			const form = document.getElementById('form');
			const addBtn = document.getElementById('add-button');
			const content = document.getElementById('note');
			const topic = document.getElementById('topic');
			const alertBox = document.getElementById('alert-box');
			const spinner = document.getElementById('spinner');

			form.addEventListener('submit', evt => {
				evt.preventDefault();
				spinner.removeAttribute('hidden');
				const body = {
					note: note.value,
					topic: topic.value
				};

				const data = sendRequestToServer('/', body, 'POST');
				data
					.then(response => {
						spinner.setAttribute('hidden', '');
						displayNotes(response);
						showAlertMessage('Note added successfully', 'success');
					})
					.catch(error => {
						// console.log(error);
						return false;
					});
				note.value = '';
				addBtn.disabled = true;
				addBtn.style.background = 'gray';
			});

			const addNote = evt => {
				if (
					content.value !== '' &&
					content.value.length > 20 &&
					topic.value !== 'select'
				) {
					addBtn.disabled = false;
					addBtn.style.background = '#0eadf4';
					addBtn.style.cursor = 'pointer';
				} else {
					evt.preventDefault();
					addBtn.disabled = true;
					addBtn.style.background = 'gray';
				}
			};
			topic.addEventListener('change', addNote);
			content.addEventListener('input', addNote);

			const showAlertMessage = (message, className) => {
				alertBox.classList.add('block');
				alertBox.style.background = '#0eadf4';
				console.log(message);
				alertBox.innerHTML = `<p>${message}</p>`;
				setTimeout(() => {
					alertBox.classList.remove('block');
					alertBox.innerHTML = '';
				}, 3000);
			};

			const fetchData = async url => {
				const response = await fetch(url);
				const data = await response.json();
				return data;
			};

			const sendRequestToServer = async (url, body, reqMethod) => {
				const response = await fetch(url, {
					method: reqMethod,
					headers: {
						Accept: 'application/json',
						'Content-Type': 'application/json'
					},
					body: JSON.stringify(body)
				});

				if (response.ok) {
					const data = response.json();
					return data;
				} else {
					// console.log('HTTP-ERROR: ', +response.status);
					return false;
				}
			};

			//POST DATA

			//DELETE NOTE
			document.getElementById('output').addEventListener('click', evt => {
				evt.preventDefault();

				const topic = document.getElementById('topic-value').value;
				let id = document.getElementById('remove');
				id = id.getAttribute('data-id');
				const body = {
					topic,
					id
				};
				if (evt.target.classList.contains('remove')) {
					evt.target.parentElement.parentElement.remove();
					const receivedData = sendRequestToServer(`/api/notes`, body, 'POST');
					receivedData
						.then(data => {
							// spinner.setAttribute('hidden', '');
						})
						.catch(error => {});
				}
			});

			const fetchAllNotes = async () => {
				// spinner.removeAttribute('hidden');
				const response = await fetch('/api/home');
				if (response.ok) {
					const data = response.json();
					return data;
				} else {
					// console.log('HTTP-ERROR: ', response.status);
					return false;
				}
				const data = await response.json();
			};

			function displayNotes() {
				fetchAllNotes()
					.then(data => {
						const notes = data.reverse();
						// spinner.setAttribute('hidden', '');
						let htmlTemplate = '';
						notes.forEach(function (note) {
							htmlTemplate += `
						<div class="card" id="drag1">
							<div class="card-body">
								<h4>${note.topic}</h4>
								<p class="card-text">${note.note.substring(0, 80)}...</p>
							</div>
							<div class="card-footer">
								<input type="hidden" value="${note.topic}" class="" id="topic-value">
								<a href="#" class="remove" data-id="${note.id}" id="remove">Remove</a>
										<a href="#editTodo" id="edit" class="edit" data-id="${note.id}">Edit</a>
										</div>
									</div>
				  `;
						});
						document.getElementById('output').innerHTML = htmlTemplate;
					})
					.catch(error => {
						return [];
					});
			}
			displayNotes();
		</script>
	</body>
</html>
